.output {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.output h3 {
  color: rgb(0, 208, 255);
  margin-bottom: 1rem;
}
.output .head1 h1 {
  color: rgb(0, 208, 255);
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.output .tryAgain {
  text-align: center !important;
}

.output2 .head h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: rgb(0, 208, 255);
  text-align: center !important;
  width: 100%;
}

.output ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.output ul li {
  width: 20%;
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: 1px solid rgb(0, 208, 255);
  border-radius: 0.5rem;
  color: rgb(0, 208, 255);
  text-align: center;
  margin-bottom: 10px;
}

.output .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -50px;
}

.output button {
  margin-top: 2rem;
  background: none;
  outline: none;
  cursor: pointer;
  font-weight: 900;
  border-radius: 10px;
  color: rgb(0, 208, 255);
  border: 1px solid rgb(0, 208, 255);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -3px;
  margin: auto;
}
